#displays submitted business
#shows review form and link to list of businesses
# <h1><center> All of the Available Businesses to Review!</center></h1>

# <% @business.each do |business| %>
#     <ul>
#         <li>
#             <h3><%= business_name%></h3>
#             <p>
#             <%= business.business_name %>
#             <p>
#             <small><%= business.created_at %></small>
#         </li>
#         ----------------------------------------------
#     </ul>
# <% end %>