<h1><center>All Reviews</center></h1>
<ul>

<% @reviews.each do |review| %>
  <li><h3><%= link_to review.business.business_name, review.business %> || <%= link_to review.review_title, review %></h3></li>
<% end %>
</ul>